<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<section class="upperMenu">
    <button><img  src=/img/cancelbutton.png alt=Cancel></button>
    <h1>Filter</h1>
    <button><img src=/img/checkButton.png alt=Check></button>
</section>
<form>
    <label>Looking for</label><br/>
<section class="gender">
    <button><img src="/img/girls.png" alt="Women"></button>
    <button><img src="/img/guys.png" alt="Men"></button>
</section>
    <label>Distance</label><br/>
<section>
    <input type="text" name="min distance">
    <p>to</p>
    <input type="text" name="max distance">
    <p>km</p>
</section>
    <label>Age</label><br/>
<section>
    <input type="text" name="min age">
    <p>to</p>
    <input type="text" name="max age">
</section>
    <label>Music genre</label><br/>
<section class="musicGenre">
    <button>Pop</button>
    <button>Rock</button>
    <button>Jazz</button>
    <button>Metal</button>
    <button>Classical</button>
    <button>Country</button>
</section>
</form>
<section>
    <button><img src="#" alt="Discover"></button>
    <button><img src="#" alt="Chat"></button>
    <button><img src="#" alt="Setting"></button>
</section>
<script type="text/javascript" src="/javascript/main.js"></script>
</body>
</html>